{% extends "base_generic.html" %}
{% load static %}

{% block content%}
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-end">
                <div class="col-12">
                    <div class="content-wrapper position-relative p-5 rounded">
                        <img class="img-fluid rounded w-100 animated-image" src="{% static 'img/About/Broccoli_Farm1.png' %}" alt="Gippsland BioEconomy">
                        <div class="text-overlay position-absolute top-50 start-50 translate-middle text-center">
                            <h1 class="display-4 mb-3">BioEconomy Innovation Goals</h1>
                            <p class="fs-5">Our aim is to utilize 75% of organic resources by 2025 to promote sustainability in Gippsland.</p>
                            <div class="scroll-indicator"><i class="fas fa-arrow-down"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                    <h1 class="mb-4">Empowering Gippsland's Sustainable Future Through Bioenergy</h1>
                    <p class="mb-4">The BioEconomy Innovation Network is a collaboration between government, industry, academia, and the community. Aimed at activating sustainable, innovative, and growth through the BioEconomy sector in Gippsland. This initiative focuses on optimizing the highest value best of organic materials to create a sustainable circular economy that benefits both the environment and the community.</p>
                    <p class="mb-4">Our goals include:</p>
                    <ul>
                        <li>Utilizing bioconversion technologies to upcycle organic resources into their highest-value products. This means ensuring that leftover agricultural products, such as broccoli pieces, are processed into high-value products like protein powders rather than used as low-value animal feed.</li>
                        <li>Collaborating with government, industry, academia, and community stakeholders to create sustainable solutions. By working together, we aim to develop cutting-edge solutions that address regional challenges and capitalize on local opportunities.</li>
                        <li>Enhancing the region's economic value by developing new industries and job opportunities through the bioeconomy sector. Our approach emphasizes the creation of a circular economy that supports environmental sustainability and community well-being.</li>
                    </ul>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="section-title bg-white text-start text-primary pe-3">Our Mission</p>
                    <h1 class="mb-4">Transforming Organic Materials for a Sustainable Future</h1>
                    <p class="mb-4">Our mission is to transform organic resources into highest value products, reducing environmental impact and fostering economic growth. We aim to engage with local communities, industries, and governments to achieve a zero-resource-wastage goal by 2025.</p>
                    <p class="mb-4">According to the Gippsland BioHub Project Scoping Study, implementing bioconversion technologies can significantly reduce environmental impact and enhance regional economic growth. The study highlights the importance of integrating resource management strategies across various sectors to achieve sustainable outcomes.</p>
                </div>
            </div>
            <div class="row g-5 mt-5 align-items-center">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Discover More About Our Impact</h2>
                    <p class="mb-4">Explore our dashboard to see detailed statistics and analysis on how we're making a difference in the Gippsland region. Learn about our ongoing projects, overview on how reusable by-products in the Gippsland region can be useful for our environment in every bit of the resources.</p>
                    <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg">View Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp dynamic-container" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Our Team</p>
                <h1 class="mb-5">Team Members</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp dynamic-container" data-wow-delay="0.1s">
                    <div class="team-item rounded p-4">
                        <h5>Abhishek Roy</h5>
                        <p class="text-primary">Developing Team Member</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp dynamic-container" data-wow-delay="0.3s">
                    <div class="team-item rounded p-4">
                        <h5>Peter Madu</h5>
                        <p class="text-primary">Developing Team Member</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp dynamic-container" data-wow-delay="0.5s">
                    <div class="team-item rounded p-4">
                        <h5>Miguel Luis Angeles</h5>
                        <p class="text-primary">Developing Team Member</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp dynamic-container" data-wow-delay="0.7s">
                    <div class="team-item rounded p-4">
                        <h5>Abdul Sami</h5>
                        <p class="text-primary">Developing Team Member</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
{% endblock %}
