{% extends "base_generic.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %} 
<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static 'img/Carousel/Login_BG.jpg' %}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8 text-start">
                                <h1 class="display-1 text-white mb-5 animated slideInRight">Welcome to BioEconomy Innovation Page</h1>
                                <a class="btn btn-secondary rounded-pill py-3 px-5" href="{% url 'dashboard' %}">Explore More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static 'img/Carousel/Total_Waste_Weight_Gippsland_Excluding_Forestry.jpg' %}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-8 text-end">
                                <h1 class="display-1 text-white mb-5 animated slideInRight">Waste Chart in Gippsland</h1>
                                <p class="fs-4 text-white">Total waste type by weight produced in the Gippsland region excluding forestry waste</p>
                                <a class="btn btn-secondary rounded-pill py-3 px-5" href="{% url 'dashboard' %}">Explore More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6">
                <div class="row g-2">
                    <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                        <div class="about-experience bg-secondary rounded">
                            <h1 class="display-1 mb-0">Project</h1>
                            <small class="fs-5 fw-bold">About BioEconomy project</small>
                        </div>
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded" src="{% static 'img/About/Bioenergy_Project_Assessment_Framework.jpg' %}">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid rounded" src="{% static 'img/About/Summary_Biomass Sources_Gippsland.jpg' %}">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                        <img class="img-fluid rounded" src="{% static 'img/About/Renewable_Diesel_Biohub_Concept.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                <h1 class="mb-4">Empowering Gippsland's Sustainable Future Through Bioenergy.</h1>
                <p class="mb-4">The BioEconomy Innovation Network project is a multifaceted endeavour aimed at catalysing sustainability, innovation, and growth within the BioEconomy sector in Gippsland. </p>
                <a class="btn btn-secondary rounded-pill py-3 px-5" href="{% url 'dashboard' %}">Explore More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Features Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="section-title bg-white text-start text-primary pe-3">Project Opportunities</p>
                <h1 class="mb-4">Few Reasons To Consider The BioEconomy Industry</h1>
                <p class="mb-4">The projects span various sectors including advanced vegetable processing, anaerobic digestion (AD), biodiesel production, renewable fuel production, pyrolysis, energy crops, and even a graphene refinery.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Total investment opportunity: $670 million over three years</p>
                <p><i class="fa fa-check text-primary me-3"></i>Potential creation of over 650 direct and indirect jobs</p>
                <p><i class="fa fa-check text-primary me-3"></i>Expected annual revenues of more than $270 million</p>
                <a class="btn btn-secondary rounded-pill py-3 px-5" href="{% url 'dashboard' %}">Explore More</a>
            </div>
            <div class="col-lg-6">
                <div class="rounded overflow-hidden">
                    <div class="row g-0">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="text-center bg-primary py-5 px-4">
                                <img class="img-fluid mb-4" src="" alt="">
                                <h1 class="display-6 text-white" data-toggle="counter-up">281</h1>
                                <span class="fs-5 fw-semi-bold text-secondary">Direct Jobs</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="text-center bg-secondary py-5 px-4">
                                <img class="img-fluid mb-4" src="" alt="">
                                <h1 class="display-6" data-toggle="counter-up">442</h1>
                                <span class="fs-5 fw-semi-bold text-primary">Indirect Jobs</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="text-center bg-secondary py-5 px-4">
                                <img class="img-fluid mb-4" src="" alt="">
                                <h1 class="display-6" data-toggle="counter-up">672</h1>
                                <span class="fs-5 fw-semi-bold text-primary">Investment ($M)</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="text-center bg-primary py-5 px-4">
                                <img class="img-fluid mb-4" src="" alt="">
                                <h1 class="display-6 text-white" data-toggle="counter-up">457</h1>
                                <span class="fs-5 fw-semi-bold text-secondary">Revenue ($M)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->

<!-- Resource Distribution Section -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Resource Distribution</p>
            <h1 class="mb-5">Some Insights on Resource Utilization</h1>
        </div>
        <div class="row gy-5 gx-4">
            <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column justify-content-between h-100">
                    <div class="service-img">
                        <img class="img-fluid" src="{% static 'img/Service/Total_Volume_Organic_Waste_Excluding_Forestry.jpg' %}" alt="">
                    </div>
                    <div class="service-text p-5 pt-0 flex-grow-1">
                        <div class="service-icon">
                            <img class="img-fluid rounded-circle" src="{% static 'img/Service/Total_Volume_Organic_Waste_Excluding_Forestry.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-3">Proportional mix of major industry contribution in the total volume of organic resources excluding forestry</h5>
                    </div>
                    <div class="mt-auto text-center">
                        <a href="javascript:void(0);" onclick="openProportionalMixPopup()" class="btn btn-secondary rounded-pill py-3 px-5">Explore Sustainable Contributions</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column justify-content-between h-100">
                    <div class="service-img">
                        <img class="img-fluid" src="{% static 'img/Service/Map_Waste_Volumes_Excluding_Forestry.jpg' %}" alt="">
                    </div>
                    <div class="service-text p-5 pt-0 flex-grow-1">
                        <div class="service-icon">
                            <img class="img-fluid rounded-circle" src="{% static 'img/Service/Map_Waste_Volumes_Excluding_Forestry.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-3">Resource volumes by location excluding forestry</h5>
                    </div>
                    <div class="mt-auto text-center">
                        <a href="javascript:void(0);" onclick="openExcludingForestryPopup()" class="btn btn-secondary rounded-pill py-3 px-5" data-target="popupExcludingForestry">Explore Exclusive Breakdown</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex flex-column justify-content-between h-100">
                    <div class="service-img">
                        <img class="img-fluid" src="{% static 'img/Service/Map_Waste_Volumes_Including_Forestry.jpg' %}" alt="Resource volumes by location including forestry">
                    </div>
                    <div class="service-text p-5 pt-0 flex-grow-1">
                        <div class="service-icon">
                            <img class="img-fluid rounded-circle" src="{% static 'img/Service/Map_Waste_Volumes_Including_Forestry.jpg' %}" alt="Icon for resource volumes including forestry">
                        </div>
                        <h5 class="mb-3">Resource volumes by location including forestry</h5>
                    </div>
                    <div class="mt-auto text-center">
                        <a href="javascript:void(0);" onclick="openIncludingForestryPopup()" class="btn btn-secondary rounded-pill py-3 px-5" data-target="popupIncludingForestry">Discover Forestry Impact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Resource Distribution Section End -->


<!-- Popups -->
<div id="proportionalMixPopup" class="popup-overlay" onclick="closePopup('proportionalMixPopup')">
    <div class="popup-content" onclick="event.stopPropagation();">
        <button onclick="closePopup('proportionalMixPopup')" style="position: absolute; top: 10px; right: 30px; cursor: pointer;">&times;</button>
        <div class="popup-title-above-image">
            <h2>Gippsland's Organic Resource Breakdown</h2>
        </div>
        <div class="popup-image">
            <img id="proportionalZoomImg" src="{% static 'img/Service/Total_Volume_Organic_Waste_Excluding_Forestry.jpg' %}" alt="Proportional Mix of Industry resources" style="width: 80%;">
            <div class="zoom-controls">
                <button onclick="zoomIn('proportionalZoomImg')"><i class="fa fa-plus"></i></button>
                <button onclick="zoomOut('proportionalZoomImg')"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="popup-text">
            <h5 class="popup-title">Insights into Resource Distribution</h5>
            <p>This chart illustrates Gippsland's organic materials, totaling 1,413,245 tonnes, from sectors excluding forestry. Key contributors include Dairy Processing (37%), Dairy Farming (21%), Waste Collection (16%), Manufacturing (14%), Poultry (10%), and Fruit & Veg Growing (2%).</p>
            <p>Understanding this distribution helps identify which sectors are most involved in generating organic resources, guiding efforts to enhance sustainability and resource efficiency within the region.</p>
        </div>
    </div>
</div>
<div id="popupExcludingForestry" class="popup-overlay" onclick="closePopup('popupExcludingForestry')">
    <div class="popup-content" onclick="event.stopPropagation();">
        <button onclick="closePopup('popupExcludingForestry')" style="position: absolute; top: 10px; right: 30px; cursor: pointer;">&times;</button>
        <div class="popup-title-above-image">
            <h2>Resource Volumes by Location Excluding Forestry</h2>
        </div>
        <div class="popup-image">
            <img id="zoomImgExcludingForestry" src="{% static 'img/Service/Map_Waste_Volumes_Excluding_Forestry.jpg' %}" alt="Resource Volumes Excluding Forestry" style="width: 100%;">
            <div class="zoom-controls">
                <button onclick="zoomIn('zoomImgExcludingForestry')"><i class="fa fa-plus"></i></button>
                <button onclick="zoomOut('zoomImgExcludingForestry')"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="popup-text">
            <h5 class="popup-title">Insights into Resource Distribution</h5>
            <p>This data showcases the distribution of 1,451,245 tonnes of organic resources across Gippsland, excluding forestry. Key areas include:</p>
            <ul>
                <li>Latrobe (265,840 T) - Dairy and Poultry</li>
                <li>Baw Baw (481,377 T) - Dairy Processing</li>
                <li>Wellington (219,467 T) - Mixed Agriculture</li>
                <li>South Gippsland (463,782 T) - Dairy and Meat</li>
                <li>East Gippsland (8,597 T) - Fruit & Vegetable Growing</li>
                <li>Bass Coast (12,182 T) - Resource Collection</li>
            </ul>
            <p>These insights allow for targeted resource management strategies, helping to optimize the use of organic materials and improve sustainability practices within each area.</p>
        </div>
    </div>
</div>
<div id="popupIncludingForestry" class="popup-overlay" onclick="closePopup('popupIncludingForestry')">
    <div class="popup-content" onclick="event.stopPropagation();">
        <button onclick="closePopup('popupIncludingForestry')" style="position: absolute; top: 10px; right: 30px; cursor: pointer;">&times;</button>
        <div class="popup-title-above-image">
            <h2>Resource Volumes by Location Including Forestry</h2>
        </div>
        <div class="popup-image">
            <img id="zoomImgIncludingForestry" src="{% static 'img/Service/Map_Waste_Volumes_Including_Forestry.jpg' %}" alt="Resource Volumes Including Forestry" style="width: 100%;">
            <div class="zoom-controls">
                <button onclick="zoomIn('zoomImgIncludingForestry')"><i class="fa fa-plus"></i></button>
                <button onclick="zoomOut('zoomImgIncludingForestry')"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="popup-text">
            <h5 class="popup-title">Expanded Insights into Resource Management</h5>
            <p>Including forestry, Gippsland's total organic resource volume significantly increases. Key areas include:</p>
            <ul>
                <li>East Gippsland (974,597 T) - Forestry Residue</li>
                <li>South Gippsland (762,800 T) - Mixed Agriculture and Forestry</li>
                <li>Latrobe (269,173 T) - Dairy and Forestry</li>
                <li>Baw Baw (481,377 T) - Dairy Processing</li>
                <li>Wellington (467,115 T) - Mixed Agriculture</li>
                <li>Bass Coast (12,182 T) - Resource Collection</li>
            </ul>
            <p>These figures highlight the importance of forestry in the region's resource landscape, providing valuable data for sustainable resource planning and policy development.</p>
        </div>
    </div>
</div>
<!-- Popups End -->

<!-- Gallery Start -->
<div class="container-xxl py-5 px-0">
    <div class="row g-0">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0">
                <div class="col-12">
                    <a class="d-block" href="{% static 'img/Gallery/Farm.jpg' %}" data-lightbox="gallery">
                        <img class="img-fluid" src="{% static 'img/Gallery/Farm.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-12">
                    <a class="d-block" href="{% static 'img/Gallery/BioEnergy_Idea.jpg' %}" data-lightbox="gallery">
                        <img class="img-fluid" src="{% static 'img/Gallery/BioEnergy_Idea.jpg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row g-0">
                <div class="col-12">
                    <a class="d-block" href="{% static 'img/Gallery/Waste_Agricultural_Residues_Wood.jpg' %}" data-lightbox="gallery">
                        <img class="img-fluid" src="{% static 'img/Gallery/Waste_Agricultural_Residues_Wood.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-12">
                    <a class="d-block" href="{% static 'img/Gallery/Waste.jpg' %}" data-lightbox="gallery">
                        <img class="img-fluid" src="{% static 'img/Gallery/Waste.jpg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="row g-0">
                <div class="col-12">
                    <a class="d-block" href="{% static 'img/Gallery/Bird.jpg' %}" data-lightbox="gallery">
                        <img class="img-fluid" src="{% static 'img/Gallery/Bird.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-12">
                    <a class="d-block" href="{% static 'img/Gallery/Wood_Waste.jpg' %}" data-lightbox="gallery">
                        <img class="img-fluid" src="{% static 'img/Gallery/Wood_Waste.jpg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="row g-0">
                <div class="col-12">
                    <a class="d-block" href="{% static 'img/Gallery/Biomass_Sources.jpg' %}" data-lightbox="gallery">
                        <img class="img-fluid" src="{% static 'img/Gallery/Biomass_Sources.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-12">
                    <a class="d-block" href="{% static 'img/Carousel/Login_BG.jpg' %}" data-lightbox="gallery">
                        <img class="img-fluid" src="{% static 'img/Carousel/Login_BG.jpg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp dynamic-container" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Our Team</p>
            <h1 class="mb-5">Team Members</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp dynamic-container" data-wow-delay="0.1s">
                <div class="team-item rounded p-4">
                    <h5>Abhishek Roy</h5>
                    <p class="text-primary">Developing Team Member</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp dynamic-container" data-wow-delay="0.3s">
                <div class="team-item rounded p-4">
                    <h5>Peter Madu</h5>
                    <p class="text-primary">Developing Team Member</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp dynamic-container" data-wow-delay="0.5s">
                <div class="team-item rounded p-4">
                    <h5>Miguel Luis Angeles</h5>
                    <p class="text-primary">Developing Team Member</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp dynamic-container" data-wow-delay="0.7s">
                <div class="team-item rounded p-4">
                    <h5>Abdul Sami</h5>
                    <p class="text-primary">Developing Team Member</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
{% endblock %}