{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
    <a href="index.html" class="navbar-brand d-flex align-items-center">
        <div style="display: flex; align-items: center; width: 30%; height: auto;">
            <img src="{% static 'img/Navbar/Gipps_Logo_No_BG.png' %}" style="max-width: 30%; height: auto;">
            <h1 class="m-0" >BioEconomy Innovation</h1>
        </div>   
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="https://www.circularfarms.com.au/home-1" class="nav-item nav-link">Marketplace</a>
            <a href="dashboard.html" class="nav-item nav-link">Dashboard</a>
            <a href="login.html" class="nav-item nav-link">Login</a>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
    </div>
</nav>
{% endblock %}