{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6">
                <div class="row g-2">
                    <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                        <div class="about-experience bg-secondary rounded">
                            <h1 class="display-1 mb-0">Project</h1>
                            <small class="fs-5 fw-bold">About BioEconomy Project</small>
                        </div>
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded" src="{% static 'img/About/Bioenergy_Project_Assessment_Framework.jpg' %}">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid rounded" src="{% static 'img/About/Summary_Biomass Sources_Gippsland.jpg' %}">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                        <img class="img-fluid rounded" src="{% static 'img/About/Renewable_Diesel_Biohub_Concept.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                <h1 class="mb-4">Empowering Gippsland's Sustainable Future Through Bioenergy.</h1>
                <p class="mb-4">The BioEconomy Innovation Network project is a multifaceted endeavour aimed at catalysing sustainability, innovation, and growth within the BioEconomy sector in Gippsland. </p>
                <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Explore More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}
