@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --themeMainColor: #72C8E3;
    --themeColor: #30AC4D;
    --fontColor: black;
    --mainBgColor: rgb(243, 243, 243);
    --mainBorderColor: #bdbdbd33;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--mainBgColor);
    font-family: 'Roboto', sans-serif;
    color: var(--fontColor);
    min-height: 100vh;
}

ul {
    list-style: none;
}

iframe {
    width: 700px;
    max-width: 100%;
    aspect-ratio: 16 / 9;
}

input,
button {
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit
}

.container {
    width: 80%;
    max-width: 1300px;
    margin: auto;
}

header {
    height: 80px;
    background: #fff;
}

header .container {
    display: flex;
    align-items: center;
    flex-direction: initial;
    justify-content: space-between;
    height: 100%;
}

header nav {
    color: #3336;
}

header nav a {
    margin: 0 8px;
    font-weight: 500;
    transition: .2s ease;
    color: rgb(177, 177, 177);
}

header nav a:hover {
    color: black
}

header nav a.active {
    color: black
}

header .header-menu {
    display: none;
    position: relative;
    z-index: 9999;
}

header .header-menu input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

header .header-menu span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

header .header-menu:hover span {
    background: var(--themeColor);
}

header .header-menu span:first-child {
    transform-origin: 0% 0%;
}

header .header-menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

header .header-menu input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-8px, -15px);
}

header .header-menu input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-4px, 13px);
}

header .header-menu input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

footer {
    height: 80px;
}

footer .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-size: 14px;
    color: #3336;
}


/* ---------------- responsive ---------------- */

@media only screen and (max-width: 1080px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    header nav {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 100vh;
        background: #130c01d9;
        width: 260px;
        padding: 40px;
        border-right: 1px solid #ffffff21;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        z-index: 9;
    }
    header nav.active {
        transform: none;
    }
    header .header-menu {
        display: initial;
    }
    select {
        color: rgb(177, 177, 177) !important;
        background: none
    }
    header nav a.active,
    header nav a:hover,
    select:hover {
        color: white !important
    }
}