body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#summary {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

#charts {
    height: 650px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 20px), 1fr)); /* Adjusted for three charts per row */
    gap: 10px 20px; /* Updated gap: 10px vertical gap, 20px horizontal gap */
    padding: 20px 20px 0; /* Padding remains the same */
}

#wasteVolumeChart {
    width: 100%;
    grid-column: 1 / -1; /* Span all columns */
    margin: 0 auto; /* Center the canvas horizontally */
}

canvas {
    max-width: 100%;
    max-height: 100%; /* Set a smaller fixed height for the charts */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: auto;
}

#details-table {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
