section#hero {
    padding: 50px 0;
}

section#hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

section#hero .container .hero-sec-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#hero .container .hero-sec-content a {
    background-color: var(--themeColor);
    width: max-content;
    padding: 7px 12px;
    color: white;
    border-radius: 3px;
}

section#hero .container .hero-sec-img {
    max-width: 100%;
}

section#hero .container .hero-sec-img img {
    max-width: 100%;
}


/* ---------------- summery ---------------- */

section#sec-summery {
    padding: 50px 0
}

section#sec-summery .container h2 {
    margin-bottom: 15px;
}

section#sec-summery .container h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.content p {
    color: #757575;
}

.content p:not(:last-child) {
    margin-bottom: 12px;
}

.content ul {
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    font-size: 15px;
}


/* ---------------- second section ---------------- */

section#sec-2 {
    padding: 50px 0;
}

section#sec-2 .container .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
}

section#sec-2 .container .grid canvas {
    width: 100% !important;
    max-width: 100%;
    min-height: 300px;
    object-fit: contain;
    height: unset !important;
    aspect-ratio: 2 / 1 !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table,
td,
th {
    padding: 5px 7px
}

td,
th {
    border-bottom: 1px solid #3334;
}


/* ---------------- responsive ---------------- */

@media only screen and (max-width: 768px) {
    section#hero .container {
        grid-template-columns: 1fr !important;
    }
    section#hero .container .hero-sec-img {
        display: none;
    }
    section#sec-2 .container .grid {
        grid-template-columns: 1fr;
        gap: 30px
    }
}