{% extends "base_generic.html" %}
{% load static %}

{% block css%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}



{% block content%}
    <header>
        {% if user.is_authenticated %}
        <select id="region-dropdown"></select>
        {% endif %}
        {% if user.is_authenticated and user.is_superuser %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">Upload File</button>
        {% else %} 
        {% endif %}
    </header>

    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <!-- Modal Form -->
            <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadModalLabel">Upload CSV File</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% if user.is_authenticated and user.is_superuser %}
                            <form id="uploadForm" action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="csvFile" class="form-label">Select CSV file</label>
                                    <input type="file" class="form-control" id="csvFile" name="csv_file" accept=".csv" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                            {% else %}
                            <p>Only administrators can upload files.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <section id="summary">
                    <div>Total Sites: <span id="total-sites"></span></div>
                    <div>Total Volume (MT): <span id="total-volume"></span></div>
                    <div>Average Moisture (%): <span id="average-moisture"></span></div>
                </section>
                <section id="maps">
                    <div class="flourish-embed flourish-map" data-src="visualisation/18344443"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                    <div class="flourish-embed flourish-map" data-src="visualisation/18344776"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                </section>
                <section id="charts">
                    <div class="canvas-container">
                        <canvas id="wasteVolumeChart"></canvas>
                    </div>
                    <div class="canvas-container">
                        <canvas id="donutChartTotalWaste"></canvas>
                        <canvas id="donutChartTotalWasteExclForestry"></canvas>
                        <canvas id="industryContributionChart"></canvas>
                    </div>
                    <div class="canvas-container">
                        <canvas id="wasteDestinationChart"></canvas>
                        <canvas id="seasonalVolumeChart"></canvas>
                        <canvas id="wasteProfileChart"></canvas>
                    </div>
                </section>
            </div>
        {% else %}
            <div>
                <section id="summary">
                    <div>Total Sites: <span id="total-sites"></span></div>
                    <div>Total Volume (MT): <span id="total-volume"></span></div>
                    <div>Average Moisture (%): <span id="average-moisture"></span></div>
                </section>
                <div class="flourish-embed flourish-map" data-src="visualisation/17430355"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                <div class="flourish-embed flourish-map" data-src="visualisation/17417771"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                <section id="charts">
                    <div class="canvas-container">
                        <canvas id="wasteVolumeChart"></canvas>
                    </div>
                    <div class="canvas-container">
                        <canvas id="donutChartTotalWaste"></canvas>
                        <canvas id="donutChartTotalWasteExclForestry"></canvas>
                        <canvas id="industryContributionChart"></canvas>
                    </div>
                    <div class="canvas-container">
                        <canvas id="wasteDestinationChart"></canvas>
                        <canvas id="seasonalVolumeChart"></canvas>
                        <canvas id="wasteProfileChart"></canvas>
                    </div>
                </section>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger" role="alert" style="text-align: center;">
            <strong>You need to be logged in to access the Dashboard.</strong> 
        </div>
    {% endif %}

   
    {% endblock %}

